* {
  list-style: none;
  /* background-color: #1f1f1f; */
}

.navegacion {
  background-color: #0c0c0c;
}

.navegacion__div {
  background-color: #0c0c0c;
  display: flex;
  align-items: flex-start;
  margin-right: 1rem;
  justify-content: space-between;
}
.navegacion__div__contenedor {
  display: flex;
  background-color: #0c0c0c;
}

.navegacion__div__contenedor li {
  background-color: #0c0c0c;
  padding-inline: 1rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navegacion__div__contenedor li a {
  background-color: #0c0c0c;
  color: greenyellow;
  text-decoration: none;
}

.logito {
  background-color: #0c0c0c;
  width: 6rem;
}
